<!--
// ==============================================================================
// SCRIPT: <SCRIPT NAME HERE>
// VERSION: 
// TARGET: HTML5
//
// <LICENSE>
// </LICENSE>
// ==============================================================================
// <AI>
// </AI>
-->

<!--
// Supported Extensions

// HTML Documents: .html, .htm, .xhtml
// Markdown: .md, .markdown
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</body>
</html>